@import url(../../../Effects/movement.css);


body, html {/*Make this its own file*/
    margin: 0;
    overflow-x: hidden;
}

/*Fix the rendering of the client when the host comes in*/
#chatContainer {
    box-sizing: border-box;

    display: flex;
    justify-content: center;


    position: fixed;
    bottom: 10px;
    right: 30px;

    z-index: 2;
}


.clientListContainer {
    width: 280px;
    height: calc(var(--message-container-height) - 100px);

    padding: 0 2%;
    margin: auto 0;

    display: flex;

    overflow-y: auto;
}

/* 
#clientList {
    display: flex;
    flex-direction: column;
    
    font-size: 20px;

    list-style: none;
}
#clientList li {
    display: flex;
    height: 20px;
    padding: 30px 0;
    text-wrap: nowrap;
    border-bottom: 1px solid lightgray;
}

#clientList  button {
    margin: 0 8px;
    padding: 1px 20px;

    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 1px 0;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(229, 227, 223) 100%);

    cursor: pointer;
}#clientList  button:hover {
    background-image: linear-gradient(0deg,rgb(229, 227, 223) 0%, rgba(255,255,255,1) 100%);
}

#clientList .available {
    background-color: rgb(13, 222, 34);

    width: 20px; 
    height: 100%;

    border-radius: 50%;
}#clientList .unavailable {
    background-color: rgb(222, 139, 13);

    width: 20px; 
    height: 100%;

    border-radius: 50%;
} */

/* Need work on
#clientList .messageCount {
    font-size: 12px;
    font-family: Arial;
    font-weight: 800;

    width: 22px;
    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;




    position: absolute;
    right: -15px;
    top: -10px;

    background-color: rgb(222, 11, 11);
    color: white;
    border-radius: 50%;
}
*/






/*VARIABLES*/
:root {
    --message-container-width: 300px;
    --message-container-height: 400px;
    --optionBar-color: lightblue;
}
/***** MESSAGE BOX *****/
.messageContainer {
    width: var(--message-container-width);
    height: var(--message-container-height);

    position: relative;
    box-shadow: 0 0 10px 1px lightgray;
    user-select: none;

}
.options {
    width: 100%;
    min-height: 8%;
    max-height: 10%;

    margin: 0;

    display: flex;
    justify-content: end;

    background-color: var(--optionBar-color);
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    button {
        background: none;
        border: 0;
        margin-right: 10px;
        cursor: pointer;
    }
}
.options svg {
    width: 20px;
    height: 20px;
}

.messageBox {
    width: 96%;
    max-height: 80%;
    overflow-y: auto;
    margin: 0px auto;    
}


.messageInputs {
    position: absolute;
    bottom: 0;
    
    height: 50px;
    width: 100%;

    margin: 0;

    display: flex;
    justify-content: space-between;
    background-color: white;
}
.messageInputs input {
    border: 0;
    width: 95%;
    padding-left: 10px;
}.messageInputs input:focus {
    border: none;
    outline: none;
}

.messageInputs button {
    border: 0;
    background: none;
    cursor: pointer;
}
.messageInputs svg {
    width: 20px;
    height: 20px;
}



#messageContainer {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 83.5%;
    overflow-y: auto;

    padding: 10px;
    background: linear-gradient(darkgray, lightblue);
}
#messageContainer .clientMessage{
    display: flex;
    justify-content: right;
    position: relative;

    margin: 10px 10px;

    p {
        max-width: 40%;
        background-color: lightblue;
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    }

}

.clientMessage::after {
    content: " ";
    position: absolute;
    top: 16px;
    right: -6px;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid lightblue;
}

#messageContainer .hostMessage{
    display: flex;
    justify-content: left;
    position: relative;

    min-width: 50px;

    margin: 10px 10px;

    p {
        background-color: rgb(126, 202, 227);
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    }

}

.hostMessage::after {
    content: " ";
    position: absolute;
    top: 16px;
    left: -6px;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(126, 202, 227);
}