



@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 5px 2px #161D6F,
                    0 0 8px 2px #98DED9,
                    0 0 10px 2px #C7FFD8;
    }
    100% {
        box-shadow: 0 0 5px 10px #161D6F,
                    0 0 8px 35px #98DED9,
                    0 0 10px 50px #C7FFD8;
    }
}



@keyframes shadow-pulse-small {
    0% {
        box-shadow: 0 0 5px 2px #161D6F,
                    0 0 8px 2px #98DED9,
                    0 0 10px 2px #C7FFD8;
    }
    100% {
        box-shadow: 0 0 5px 4px #161D6F,
                    0 0 8px 10px #98DED9,
                    0 0 10px 14px #C7FFD8;
    }
}