@font-face{
    font-family: 'Orbitron';
    src: url(../Fonts/Orbitron-font/Orbitron-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Quicksand';
    src: url(../Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

body {
    background-color: #13005a;

    margin: 0;
    box-sizing: border-box;
}



.main-container {
    width: 100%;

    display: flex;
    flex-direction: row;
}


/** FIRST SECTION STYLES  **/
.secondary-container:first-child {
    width: 30%;
    height: 100vh;

    padding-left: 10%;
}


/** HEADER **/
.secondary-container header {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end; 

    height: 40%;

    margin-bottom: 20px;


    color: #ebecf1;
    user-select: none;

}

/*TEXT*/
.secondary-container h1 {
    font-size:  3rem; /*find a better size*/
    font-family: Orbitron;
    white-space: nowrap;

    margin: 0;
}
.secondary-container h2 {
    font-family: Quicksand;
    font-size: 1.5rem;

    margin: 0;

    text-align: center;
}


/** NAVIGATION MENU **/

nav {
    width: 100%;
    height: 35%;

    background-color: white;
}

nav ol {
    list-style: none;
    padding: 0;
}



/* DIVIDER LINE*/
nav ol li span {

    background-color: black;
    display: inline-flex;
    vertical-align: middle;

    width: 50px;


    border: 2px solid #03c929;
    border-radius: 2px;
}

/* MENU TEXT */
nav ol li a {
    text-decoration: none;

    font-family: Quicksand;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;

}










.secondary-container:last-child {
    width: 70%;

    padding: 1%;
    background-color: rgb(186, 120, 21);
}

.secondary-container .info-container {
    background-color: #03c929;
    height: 100%;
    

    overflow-y: scroll;

    display: flex;
    justify-content: center;
}


















/* Items */
.info-card {


    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    
    height: 20%;

    padding: 0 20px;

    border-radius: 10px;

    transition: background-color 0.5s ease-in-out;
}
.info-card:hover {
    background-color: lightgray;
}


/* ALL TEXT */
.info-card-text {
    height: 40%;
    white-space: wrap;
}

/* HEADER TEXT */
.info-card .info-card-header {
    display: inline-flex;

    
}
.info-card .info-card-header h3 {
    margin: 0 0 5px 0;

    font-family: Orbitron;
    font-size: 1.5rem;
}

/* PARAGRAPH TEXT*/
.info-card p {
    font-family: Quicksand;

    margin: 0;
}

/* SKILLS */
.info-card .info-card-skill ol {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}
.info-card .info-card-skill li {
    height: 10%;
    margin-left: 10px;
    
    background-color: #11441c;
    border-radius: 10px;

    width: 100px;


    text-align: center;
}
.info-card .info-card-skill li h4 {
    user-select: none;
    font-family: Quicksand;

    margin: 5px;
}