@font-face{
    font-family: 'Orbitron';
    src: url(../Fonts/Orbitron-font/Orbitron-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Quicksand';
    src: url(../Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

body {
    background-color: #13005a;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}


/** FIRST SECTION STYLES  **/
.secondary-container:first-child {
    width: 30%;
    height: 100vh;

    padding-left: 10%;
}


/** HEADER **/
.secondary-container header {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end; 

    height: 40%;

    margin-bottom: 20px;


    color: #ebecf1;
    user-select: none;

}

/*TEXT*/
.secondary-container h1 {
    font-size:  3rem; /*find a better size*/
    font-family: Orbitron;
    white-space: nowrap;

    margin: 0;
}
.secondary-container:first-child h2 {
    font-family: Quicksand;
    font-size: 1.5rem;

    margin: 0;

    text-align: center;
}


/** NAVIGATION MENU **/

nav {
    width: 100%;
    height: 35%;

}

nav ol {
    list-style: none;
    padding: 0;

    li {
        margin: 8px 0;
    }
}



/* DIVIDER LINE*/
.dash-green {

    background-color: black;
    display: inline-flex;
    vertical-align: middle;

    width: 50px;


    border: 2px solid #03c929;
    border-radius: 2px;

    margin-right: 10px;

    transition: width 0.5s ease-in-out;
}
.dash-green.active {
    width: 100px;
}

/* MENU TEXT */
.nav-item {
    text-decoration: none;

    font-family: Quicksand;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ebecf1;
    text-transform: uppercase;
}










.secondary-container:last-child {
    width: 70%;
    height: 500px;
    padding: 10% 0;
    
    /* scroll-behavior: smooth; Fix the glitching if i want to add */ 

    overflow-y: scroll;
}

.secondary-container .info-container {
    background-color: #13005a;


    

    display: flex;
    flex-direction: column;
    
}

.info-section-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.secondary-container .section-header {
    font-family: Orbitron;
    font-size: 1.3rem;
    color: #ebecf1;

    margin-right: 10%;
    margin-left: 8%;
    border-bottom: 2px solid #ebecf180;

    text-transform: uppercase;
}








.section-about {
    font-family: Quicksand;

    width: 80%;
    margin-left: 8%;
    color: #ebecf1;
}


/* SOCIAL MEDIA */
.social-media ol {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-media li {
    border-radius: 150px;
    
    transition: box-shadow .3s ease-in-out;
    
    ol {
        padding: 0;
        user-select: none;
    }
}
.social-media li:hover {
    box-shadow: 0 0 15px #ebecf1;
}




