.headline-2 {
    font-size: 2rem;
    margin-left: 20%;
    text-transform: uppercase;

}

@media (max-width: 768px) {
    .headline-2 {
        font-size: 1.2rem;
        margin-left: 15px;
        text-transform: uppercase;
    }
}
