.accessButton {

    position: absolute;
    right: 0;
    top: 10%;


    margin-right: 50px;

}

.accessButton li {
    list-style-type: none;
}
.accessButton button {
    font-size: clamp(1.3rem, 3vw, 1.6rem);
    padding: 7px 15px;

    background: linear-gradient(#161D6F, #3340ce);

    color: #F6F6F6;

    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .accessButton {

        position: absolute;
        top: auto;
        bottom: 50px;

        right: auto;
        left: 0;
    
    }
    
    .accessButton li {
        list-style-type: none;
    }

    .accessButton button {
        font-size: clamp(1.3rem, 3vw, 1.6rem);
        padding: 7px 15px;
    
        background: linear-gradient(#161D6F, #3340ce);
    
        color: #F6F6F6;
    
        border-radius: 10px;
        cursor: pointer;
    }
}