

.category-container {

    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}


.single-element {
    display: inline-block;
    margin: 20px auto;

    width: 300px;
    background-color: rgba(173, 216, 230, 0.3);

    border-radius: 5px;
    padding: 5px;

    box-shadow: 0 0 5px 1.5px #161d6f39;

}
.single-element h3 {
    text-align: center;
}
.single-element p {
    line-height: 150%;
    letter-spacing: 1.2px;
    padding: 0 5px;
    text-align: center;        
}

@media (max-width: 768px) {
    .category-container {
        border: none;
        grid-template-columns: repeat(1, 1fr);
    }

    .single-element {
        display: inline-block;
        margin: 20px auto;

        width: 300px;
        background-color: rgba(173, 216, 230, 0.3);

        border-radius: 5px;
        padding: 5px;

        box-shadow: 0 0 5px 1.5px #161d6f39;

    }
    .single-element h3 {
        text-align: center;
    }
    .single-element p {
        line-height: 150%;
        letter-spacing: 1.2px;
        padding: 0 5px;
        text-align: center;        
    }

}